*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial,sans-serif;
  background:#111;
  color:#fff;
}

header{
  background:linear-gradient(135deg,#000,#2b2b2b);
  text-align:center;
  padding:100px 20px;
}

header h1{
  font-size:50px;
  color:#D4AF37;
}

header p{
  margin-top:15px;
  font-size:20px;
}

section{
  max-width:1000px;
  margin:auto;
  padding:60px 20px;
}

h2{
  color:#D4AF37;
  margin-bottom:20px;
}

ul{
  padding-left:20px;
}

li{
  margin-bottom:10px;
}

footer{
  background:#000;
  text-align:center;
  padding:25px;
  margin-top:40px;
}